.DS_Store
*.log

stash-android/.gradle/
stash-android/**/build/
stash-android/local.properties
stash-android/.idea/
stash-android/*.iml
stash-android/**/*.iml
stash-android/*.jks
stash-android/*.keystore

stash-mac/node_modules/
stash-mac/dist/
stash-mac/out/
